<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <div class="container" id="users">

        <div class="form-inline">
            <h3 th:if='${userHeader != null}' th:text="${userHeader}" class="mr-auto">Lista Pracowników</h3>
            <h3 th:unless='${userHeader != null}' class="mr-auto">Lista Pracowników</h3>

            <input class="form-control" id="filterInput" type="text" placeholder="Szukaj..">
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
<!--                <th scope="col">ID</th>-->
                <th scope="col">Imie i Nazwisko</th>
                <th scope="col">email</th>
                <th scope="col">Dział</th>
                <th scope="col">Stanowisko</th>
<!--                <th scope="col">Uprawnienia</th>-->
<!--                <th scope="col">Rodzaj umowy</th>-->
<!--                <th scope="col">Wymiar godzin</th>-->
            </tr>
            </thead>

            <tbody id = "filterTable">
            <tr th:each="user: ${users}">
<!--                <th scope="row" th:text="${user.getId()}"></th>-->
                <td>
                    <a th:href='${"/users/get/" + user.getId()}'
                       th:text='${user.getFirstName() + " " +user.getLastName()}'></a>
                </td>
                <td>
                    <a th:href='${"mailto:" + user.getEmail()}' th:text="${user.getEmail()}"></a>
                </td>
                <td><a th:href='${"/departments/get/" + user.getDepartment()}' th:text="${user.getDepartment()}"></a></td>
                <td th:text="${user.getPosition()}">Stanowisko</td>
<!--                <td th:text="${user.getRole()}">Uprawnienia</td>-->
<!--                <td th:text="${user.getContract()}">Rodzaj umowy</td>-->
<!--                <td th:text='${user.getEmploymentTime() + " h" }'>Wymiar godzin</td>-->
            </tr>
            </tbody>
        </table>
        <hr>
        <a th:if="${ withAddButton }" href="/users/add" role="button" class="btn btn-success float-right">Dodaj nowego pracownika</a>
    </div>
</div>
</body>
</html>