<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <th:block th:replace="base :: head"> </th:block>
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>

<main role="main" class="jumbotron">
    <div class="login-container">
        <form th:action="@{/login}" method="post" class="form-signin">
            <div class="logo"><img th:src="@{/img/transparent-logo.png}" /></div>
            <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>

            <div th:if="${param.error}">
                <!--    error msg        -->
                <div class="alert alert-danger">Nieprawidłowy email lub hasło</div>
            </div>
            <div th:if="${param.logout}">
                <!--     logout info     -->
                <div class="alert alert-info">Wylogowywanie powiodło się</div>
            </div>

            <label for="email" class="sr-only">Adres email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Adres email" required="" autofocus="">

            <label for="password" class="sr-only">Hasło</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required="">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            <a>Reset hasła</a>
        </form>
    </div>
</main>

<th:block th:replace="base :: js"> </th:block>
</body>
</html>